@charset "UTF-8";

#viewport {
    position: relative;
    height: 450px;
    background-color: #000;
    overflow: hidden;
}

#viewport video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#viewport .empty-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    text-align: center;
    line-height: 450px;
    z-index: 1;
}

#viewport .empty-msg p {
    font-size: 2em;
}


#track {
    position: relative;
    margin-top: 60px;
    padding: 10px 0;
    width: 100%;
}


#track .cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: rgb(238, 65, 65);
    cursor: pointer;
    z-index: 100;
}

#track .cursor::before {
    content: '';
    position: absolute;
    left: -4.5px;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(238, 65, 65);
}

#track .list .item {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgb(233, 233, 233);
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

#track .view-line {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(143, 143, 143);
    display: flex;
    justify-content: space-between;
}

#track .view-line div:not(.center) {
    width: 10px;
    height: 100%;
    cursor: w-resize;
}

#track .view-line .center {
    width: calc(100% - 20px);
    height: 100%;
    cursor: pointer;
}

#track .list .item.active .view-line {
    background-color: rgb(255, 173, 96);
}

#movie-line .item {
    cursor: pointer;
}

#join-festival .btn-bar > button {
    border: 0;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

#join-festival .btn-bar > button.active {
    background-color: rgb(255, 173, 96);
    color: white;
}

#viewport .clip {
    position: absolute;
    pointer-events: none;
}

#viewport .clip.active:not(canvas) {
    border-color: rgb(255, 173, 96)!important;
}

#viewport div.clip {
    width: 1px;
    height: 1px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
}

#viewport input.clip {
    background: none;
    border: 0;
    padding: 5px;
}

#viewport span.clip {
    padding: 5px;
    height: auto;
    display: block;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}
