<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BIFF 부산국제영화제</title>
    <link rel="stylesheet" href="css/origin.css">
</head>
<body>
    <input type="checkbox" id="on-mobile-nav" hidden>
    <!-- 헤더 -->
    <header>
        <div class="inline flex justify-between align-center">
            <a id="logo" href="index.html">
                <img src="images/Llogo.png" alt="부산국제영화제" height="50">
            </a>
            <div class="main-nav flex align-center">
                <a href="index.html" class="active">부산국제영화제</a>
                <div class="nav-more more-1 flex align-center">
                    <a href="hold-intro.html">개최개요</a>
                    <a href="f-info.html">행사안내</a>
                </div>
    
                <a href="#">출품신청</a>
                <a href="#">상영일정</a>
                <a href="#">상영작검색</a>
                <a href="#">이벤트</a>
                <div class="nav-more more-2 flex align-center">
                    <a href="#">영화티저 콘테스트</a>
                    <a href="join-f.html">콘테스트 참여하기</a>
                </div>
            </div>
            <div class="sub-nav flex align-center">
                <a href="#">로그인</a>
                <a href="#">회원가입</a>
            </div>
            <label for="on-mobile-nav"></label>
        </div>
    </header>
    <div id="mobile-nav">
        <ul class="mt-5 pt-5 px-3">
            <li>
                <a href="index.html">부산국제영화제</a>
                <ul>
                    <li><a href="hold-intro.html">개최개요</a></li>
                    <li><a href="f-info.html">행사안내</a></li>
                </ul>
            </li>
            <li><a href="#">출품신청</a></li>
            <li><a href="#">상영일정</a></li>
            <li><a href="#">상영작검색</a></li>
            <li>
                <a href="#">이벤트</a>
                <ul>
                    <li><a href="#">영화티저 콘테스트</a></li>
                    <li><a href="join-f.html">콘테스트 참가하기</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- 비쥬얼 -->
    <section id="visual">
        <div class="images">
            <div class="slide1"></div>
            <div class="slide2"></div>
            <div class="slide3"></div>
            <div class="slide1"></div>
        </div>
        <div class="inline">
            <div class="texts">
                <div class="text">
                    <h5 class="sub">2019년을 장식할 최고의 무대</h5>
                    <h2 class="main">부산국제영화제</h2>
                </div>
                <div class="text">
                    <h5 class="sub">2020년을 장식할 최고의 무대</h5>
                    <h2 class="main">부산국제영화제</h2>
                </div>
                <div class="text">
                    <h5 class="sub">2021년을 장식할 최고의 무대</h5>
                    <h2 class="main">부산국제영화제</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Festival Info -->
    <section id="f-info">
        <div class="inline">
            <div class="section-title">
                <h1>행사 안내</h1>
            </div>
            <div class="f-list w-100 flex-column align-start">
                <div class="item my-3">
                    <h3>- 핸드프린팅 -</h3>
                    <p>영화사에 길이 기억될 위대한 영화인을 선정하여 평생공로상에 해당하는 핸드프린팅 행사를 개최. 핸드프린팅은 남포동 BIFF광장과 영화제 아카이브에 영구 보존</p>
                </div>
                <div class="item my-3">
                    <h3>- 마스터클래스 '나의 인생, 나의 영화' -</h3>
                    <p>영화예술의 거장들과 함께 그들의 예술세계와 지나온 영화인생을 되돌아 보는 프로그램</p>
                </div>
                <div class="item my-3">
                    <h3>- 오픈토크 -</h3>
                    <p>영화제 초청작 중 가장 이슈가 되는 작품의 게스트와 관객이 만나는 프로그램으로 영화제 야외무대에서 진행</p>
                </div>
                <div class="item my-3">
                    <h3>- 아주담담 -</h3>
                    <p>다양한 분야의 게스트가 하나의 주제를 가지고 관객들과 활발하게 소통하는 프로그램</p>
                </div>
                <div class="item my-3">
                    <h3>- 야외무대 인사 -</h3>
                    <p>다양한 작품에서 활약한 스타 감독과 배우들을 직접 만날 수 있는 관객들이 가장 반기는 프로그램</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-2">
        <div class="inline stack">
            <div class="w-50 flex column">
                <div class="w-100 flex justify-center">
                    <img src="images/sns1.jpg" alt="sns-1" class="ma-05">
                    <img src="images/sns2.jpg" alt="sns-2" class="ma-05">
                    <img src="images/sns3.jpg" alt="sns-3" class="ma-05">
                    <img src="images/sns4.jpg" alt="sns-4" class="ma-05">
                    <img src="images/sns5.jpg" alt="sns-5" class="ma-05">
                </div>
                <div class="footer-nav w-100 stack justify-center mt-2">
                    <a href="#" class="mx-3 accent">부산국제영화제</a>
                    <a href="#" class="mx-3 accent">출품신청</a>
                    <a href="#" class="mx-3 accent">상영일정</a>
                    <a href="#" class="mx-3 accent">상영작검색</a>
                    <a href="#" class="mx-3 accent">이벤트</a>
                </div>
                <div class="w-100 mt-2">
                    <p class="text-center muted">
                        ⓒ Busan International Film Festival
                    </p>
                </div>
            </div>
            <div class="w-50 flex column">
                <p class="w-100 muted mt-2">
                    서울사무소(03131) 서울특별시 종로구 율곡로 84 가든타워 1601호<br>
                    지도전화 02-3675-5097  팩스 02-3675-5098
                </p>
                <p class="w-100 muted mt-2 mb-3">
                    부산사무국(48058) 부산시 해운대구 수영강변대로 120 영화의전당 비프힐 3층<br>
                    지도전화 1688-3010  팩스 051-709-2299
                </p>
            </div>
        </div>
    </footer>
</body>
</html>